set $corps_origin https://${SERVER_NAME};
if ($http_origin ~* "^https?://(?:.+\.)?${SERVER_DOMAIN}(?::\d{1,5})?$") {
    set $corps_origin "$http_origin";
}
add_header "Access-Control-Allow-Origin" "$corps_origin";

# add_header will override all previous directives from parent sections
include snippets/headers.include;
